
.indexContainer {
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  margin: 0vw;
  border-radius: 0;
}

.wbdv-hidden {
  visibility: hidden;
}

.admin-header {
  display: flex;
  justify-content: space-between;
}
