#editorContainer {

  background-color: white;
  border-radius: 3vw;

  margin-top: 5vw;
  margin-right: auto;
  margin-left: auto;
  overflow:hidden;

}

#contentContainer {
  padding: 3vw;
}

#editorHeader {
  background-color: dimgray;
  color: white;
  padding: 2vw;

  margin-left: 0;
  margin-right: 0;
}

#moduleListContainer {
  background-color: black;
  height:100%;
  padding: 3vw;
  border-radius: 2vw;
}

#courseEditModule {
}

#addModuleButtonContainer {
  margin-top: 1vw;
}

#editButtonsContainer {
  #display:flex;
  #justify-content: flex-end;
}

#editButtons {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}

#widgetList {
  padding: 2vw;
}

.widgetHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.widget {
  padding: 2vw;
  margin: 2vw;
  background-color: dimgray;
}
.widgetTypeSelect {
  width: 10vw;
  margin-right: .25vw;
  marin-left: .5vw
}

.widgetButtonContainer {
  display: flex;
  flex-direction: row;
}

.btn-group {
  margin-right: 0;
  margin-left: auto;
}



